//basic colors
@primary: #ffd500;
@secundary: #ffffff;
@white: #fff;
@black: #000;
@error: #ff4d4d;
@alert: #ffd500;
@yellow: @alert;
@orange: #ff9d00;

@gradientInit: #111315;
@gradientEnd: #050607;

@bgBody: #050607;
@bgPanel: #111315;
@bgPanelLight: #17191c;
@borderColor: rgba(255, 255, 255, 0.14);

@btnGray: #23262a;

//font-type
@font: "Montserrat", sans-serif;
@regular: 400;
@semiBold: 600;
@bold: 700;
@colorFont: #d9d9d9;


//media querys
@desktop: ~"only screen and (max-width: 1920px)";
@desktopMD: ~"only screen and (max-width: 1700px)";
@desktopSM: ~"only screen and (max-width: 1530px)";
@notebook: ~"only screen and (max-width: 1366px)";
@notebookSM: ~"only screen and (max-width: 1200px)";
@tabletLG: ~"only screen and (max-width: 1110px)";
@tablet: ~"only screen and (max-width: 991px)";
@tabletSM: ~"only screen and (max-width: 767px)";
@mobileXL: ~"only screen and (max-width: 610px)";
@mobileLG: ~"only screen and (max-width: 575px)";
@mobileSM: ~"only screen and (max-width: 480px)";
@mobile: ~"only screen and (max-width: 400px)";
@mobileXM: ~"only screen and (max-width: 360px)";
