//basic colors
@primary: #0a896e;
@secundary: #a4dbd8;
@white: #fff;
@black: #000;
@error: #cd0000;
@alert: #ffd500;

@gradientInit: #141414;
@gradientEnd: #4b4b4b;
@gradientInit: #494949;
@gradientEnd: #8b8b8b;

@bgBoxContent: #f0f0f0;
@borderColor: #d4d4d4;

@btnGray: #5a5a5a;

//font-type
@font: "Montserrat", sans-serif;
@regular: 400;
@semiBold: 600;
@bold: 700;
@colorFont: #555;


//media querys
@desktop: ~"only screen and (max-width: 1920px)";
@desktopMD: ~"only screen and (max-width: 1700px)";
@desktopSM: ~"only screen and (max-width: 1530px)";
@notebook: ~"only screen and (max-width: 1366px)";
@notebookSM: ~"only screen and (max-width: 1200px)";
@tabletLG: ~"only screen and (max-width: 1110px)";
@tablet: ~"only screen and (max-width: 991px)";
@tabletSM: ~"only screen and (max-width: 767px)";
@mobileXL: ~"only screen and (max-width: 610px)";
@mobileLG: ~"only screen and (max-width: 575px)";
@mobileSM: ~"only screen and (max-width: 480px)";
@mobile: ~"only screen and (max-width: 400px)";
@mobileXM: ~"only screen and (max-width: 360px)";