.footer {
    background: @black;
    width: 100%;

    &__copy {
        color: @white;
        font-size: 12px;
        opacity: 0.7;
        padding: 18px 25px;
        text-align: center;
    }
}
