//principais
*,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: @font;
    font-size: 16px;
    font-weight: @regular;
    color: @color-font;
}

body.is-menu-open {
    overflow: hidden;
}
ul{
    padding: 0;
}

li{
    list-style: none;
}
a {
    color: @color-font;
    text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

:where(main:not(.home) > section + section) {
    margin-top: 56px;
}

@media @tablet-small {
    :where(main:not(.home) > section + section) {
        margin-top: 36px;
    }
}
