.transition (@transition: 0.5s all) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

.center-all (@x: -50%, @y: -50%) {
	left: 50%;
	transform:   		translate(@x, @y);
	-webkit-transform:  translate(@x, @y);
	-moz-transform: 	translate(@x, @y);
	-ms-transform: 		translate(@x, @y);
	-o-transform: 		translate(@x, @y);
	position: absolute;
	top: 50%;
}

.center-h (@percent: -50%) {
	left: 50%;
	transform:   		translateX(@percent);
	-webkit-transform:  translateX(@percent);
	-moz-transform: 	translateX(@percent);
	-ms-transform: 		translateX(@percent);
	-o-transform: 		translateX(@percent);
	position: absolute;
}

.center-v (@percent: -50%) {
	transform:   		translateY(@percent);
	-webkit-transform:  translateY(@percent);
	-moz-transform: 	translateY(@percent);
	-ms-transform: 		translateY(@percent);
	-o-transform: 		translateY(@percent);
	position: absolute;
	top: 50%;
}

.gradient (@initColor: @gradientInit, @endColor: @gradientEnd, @angle: 90deg) { 
	background: @initColor;
	background: linear-gradient(@angle, @initColor 0%, @endColor 100%);
}

.shadow {
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.11);
}


.radius (@radius: 10px) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

