//basic colors
@primary: #3fbfa9;
@secundary: #168eb4;
@white: #fff;
@black: #000;
@red: #cd0000;
@yellow: #ffd500;
;

@gradientInit: #0f637e;
@gradientEnd: #2c8576;

//font-type
@font: "Poppins", sans-serif;
@regular: 400;
@semi-bold: 600;
@bold: 700;
@color-font: #555;
@color-font-sub: #7d7d7d;
@mid-size: 20px;
@title-size: 25px;

//media querys
@desktop: ~"only screen and (max-width: 1920px)";
@desktop-large: ~"only screen and (max-width: 1700px)";
@desktop-medium: ~"only screen and (max-width: 1530px)";
@notebook: ~"only screen and (max-width: 1366px)";
@notebook-small: ~"only screen and (max-width: 1200px)";
@tablet-large: ~"only screen and (max-width: 1110px)";
@tablet: ~"only screen and (max-width: 991px)";
@tablet-small: ~"only screen and (max-width: 767px)";
@mobile-large: ~"only screen and (max-width: 610px)";
@mobile-mid: ~"only screen and (max-width: 575px)";
@mobile-sm: ~"only screen and (max-width: 480px)";
@mobile: ~"only screen and (max-width: 400px)";
@mobile-small: ~"only screen and (max-width: 360px)";