@font-face {
  font-family: 'asernet';
  src:  url('fonts/asernet.eot?sqr21c');
  src:  url('fonts/asernet.eot?sqr21c#iefix') format('embedded-opentype'),
    url('fonts/asernet.ttf?sqr21c') format('truetype'),
    url('fonts/asernet.woff?sqr21c') format('woff'),
    url('fonts/asernet.svg?sqr21c#asernet') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'asernet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-estrutura:before {
  content: "\e931";
}
.icon-seguro:before {
  content: "\e932";
}
.icon-planejamento:before {
  content: "\e933";
}
.icon-chat:before {
  content: "\e92f";
}
.icon-thumbtacks:before {
  content: "\e930";
}
.icon-prev:before {
  content: "\e92d";
}
.icon-next:before {
  content: "\e92e";
}
.icon-error:before {
  content: "\e92c";
}
.icon-ver:before {
  content: "\e92a";
}
.icon-esconder:before {
  content: "\e92b";
}
.icon-home:before {
  content: "\e929";
}
.icon-notification:before {
  content: "\e912";
}
.icon-creditcard:before {
  content: "\e913";
}
.icon-phonecall:before {
  content: "\e914";
}
.icon-contact:before {
  content: "\e915";
}
.icon-hand:before {
  content: "\e916";
}
.icon-megaphone:before {
  content: "\e917";
}
.icon-check:before {
  content: "\e918";
}
.icon-information:before {
  content: "\e919";
}
.icon-question:before {
  content: "\e91a";
}
.icon-complemento:before {
  content: "\e91b";
}
.icon-numero:before {
  content: "\e91c";
}
.icon-bairro:before {
  content: "\e91d";
}
.icon-estado:before {
  content: "\e91e";
}
.icon-cidade:before {
  content: "\e91f";
}
.icon-search:before {
  content: "\e920";
}
.icon-rua:before {
  content: "\e921";
}
.icon-go:before {
  content: "\e922";
}
.icon-mail:before {
  content: "\e923";
}
.icon-celphone:before {
  content: "\e924";
}
.icon-padlock:before {
  content: "\e925";
}
.icon-cpf:before {
  content: "\e926";
}
.icon-timescompetitivos:before {
  content: "\e900";
}
.icon-alunos:before {
  content: "\e901";
}
.icon-zonanorte:before {
  content: "\e902";
}
.icon-diasdetreino:before {
  content: "\e903";
}
.icon-flexibilidade:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e927";
}
.icon-competicao:before {
  content: "\e905";
}
.icon-treinosfocados:before {
  content: "\e906";
}
.icon-intermediarioavancado:before {
  content: "\e907";
}
.icon-evolucaotecnica:before {
  content: "\e908";
}
.icon-adultos18:before {
  content: "\e909";
}
.icon-timesativossvg:before {
  content: "\e90a";
}
.icon-campeonatos:before {
  content: "\e90b";
}
.icon-inicianteintermediario:before {
  content: "\e90c";
}
.icon-condicionamentofisico:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90e";
}
.icon-instagram:before {
  content: "\e90f";
}
.icon-areadoaluno:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e928";
}
.icon-comunidade:before {
  content: "\e911";
}
